html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
}

.global-headline {
  font-family: hummingbird, sans-serif;
  font-weight: 700;
  font-style: normal;
}
