html,
body {
  height: 100%;
  margin: 0;
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(10, 10, 10);
  transition: color 0.3s;
}

a:visited {
  color: #333;
}

a:hover {
  color: #888;
}

.global-headline {
  font-family: hummingbird, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-block: 0;
  line-height: 1;
  text-align: center;
}

/** Header Component */
.header-wrap {
  width: 100%;
  height: 60px;
  background: #fff;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  z-index: 200;
}

/** Logo Component */
.logo-text {
  margin: 0;
  margin-block-start: 5px;
  padding: 0;
}

/** Menu Component */
ul.menu-wrap {
  display: none;
  margin: 0;
  padding: 0;
}

.menu-wrap li {
  font-weight: 600;
  font-size: 16px;
  transition: border 0.3s;
}

.menu-wrap li:not(:first-of-type) {
  margin-inline-start: 15px;
}

.nav-link-active {
  border-block-end: 3px rgb(124, 187, 142) solid;
}

.mobile-menu-wrap {
  position: absolute;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  background: #fff;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
}

.mobile-menu-button {
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.mobile-menu-wrap [data-reach-menu-items] {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-menu-wrap [data-reach-menu-item] {
  font-size: 2rem;
  text-align: center;
}

.mobile-menu-wrap [data-reach-menu-item]:not(:last-child) {
  margin-block-end: 20px;
}

@media screen and (min-width: 650px) {
  ul.menu-wrap {
    display: flex;
  }

  .mobile-menu-button {
    display: none;
  }
}
