.hero-image-wrap {
  background: url("/assets/images/castle.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  background-position: bottom;
}

.hero-image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
HotelCard styles
*/

.hotel-card-wrap {
  width: 100%;
  max-width: 320px;
  height: 100px;
  display: flex;
  gap: 10px;
  border: 1px solid #cdcdcd;
}

.hotel-card-image-container {
  width: 100px;
  height: 100px;
}

.hotel-card-image {
  width: 100%;
  max-width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: 0 0;
}

.hotel-card-info-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hotel-card-title {
  font-family: freight-sans-pro, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.hotel-card-distance {
  font-family: freight-sans-pro, sans-serif;
}
